@model ExercisesViewModel
@*<script>
        $("#next").click(function(e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "/home/page/",
            data: {
                id: $(this).val(), // < note use of 'this' here
                access_token: $("#access_token").val()
            },
            success: function(result) {
                alert('ok');
            },
            error: function(result) {
                alert('error');
            }
        });
    });
    </script>*@




<h2>Exercises</h2>
<div class="row">
    <ul class="nav nav-tabs">
        @foreach (Category ca in Model.Categories.results)
        {
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#@ca.name">@ca.name</a>
            </li>
        }
    </ul>
    <div class="tab-content">
        <div class="tab-pane" id="Abs">
            @foreach (Exercise ex in Model.Exercises.results)
            {
                <ul class="list-group media-list media-list-stream">
                    <div class="col-12">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a>
                                    <div class="row">
                                        <div class="col-2">
                                            @if (ex.imageURL != null)
                                            {
                                                <img style="max-width:100px; max-height:100px" class="card-img" src="@ex.imageURL" alt="@ex.name" />
                                            }
                                            else
                                            {
                                                <img style="max-width:100px; max-height:100px" class="card-img" src="~/images/dumbbellSVG.png" alt="@ex.name" />
                                            }
                                        </div>
                                        <div class="col-10">
                                            <h5 class="font-weight-bold">
                                                @ex.name
                                            </h5>
                                            <p>
                                                @Html.Raw(ex.description)
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </ul>
            }
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane" id="Arms">
            <ul class="list-group media-list media-list-stream">hello</ul>
        </div>
    </div>
    </div>


    @Html.ActionLink("Next page", "NavExercises", "Home", new { query = Model.Exercises.next }, new { @class = "btn btn-primary" })
    <button id="next" type="button" class="btn btn-primary">Next</button>


