<!--TODO change for template login-->
@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model ManageViewModel
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "Manage";
    AppUser user = null;
    if (SignInManager.IsSignedIn(User)) {
        user = await UserManager.GetUserAsync(User);
    }
}
<h2>@ViewData["Title"]</h2>
<div class="container">
    <div class="row card-deck">
        <div class="card card-login mx-auto m-5 col-md-4">
            <div class="card-header">Personnal Information</div>
            <div class="card-body">
                <section>
                    @using (Html.BeginForm("Personal", "Account", FormMethod.Post, new { id = "personalInfoForm" }))
                    {
                        <input asp-for="UserID" hidden value="@user.Id" />
                        <h4>Manage your personnal information.</h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group col-md-12">
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" class="form-control" value="@user.FirstName" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" class="form-control" value="@user.LastName" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" value="@user.Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group right col-md-6">
                            <button type="submit" class="btn btn-default">Save</button>
                        </div>
                    }
                </section>
            </div>
        </div>
       
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    @*<script type="text/javascript">
        $("#personalInfoForm").on("submit", function (event) { 
            $.ajax({
                type: "POST",
                url: "@(Url.Action("Manage", "Account"))",
                datatype: "json",
                cache: false,
                data: { userID: @user.Id, firstName: $("#FirstName").val, lastName: $("#LastName").val, email: $("#Email").val},
                success: function (data) {
                    alert("hello")
                    $("#FirstName").val(data.firstName);
                    $("#LastName").val(data.lastName);
                    $("#Email").val(data.email);
                }
                //error: function (data) {
                //    for (var i = 0; i < response.errors.length; i++) {
                //        var error = ko.mapping.fromJS(response.errors[i]);
                //        self.saveErrors.push(error);
                //    }
                //}
            });
        });
    </script>*@
}

