<!--TODO implement error messages-->
@model RegisterViewModel

@{
    Layout = "_LayoutExterior";
}

<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Register an Account</div>
        <div class="card-body">
            <section>
                @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                {
                    <h4>Enter your information to register.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="FirstName">First name</label>
                                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", type = "text", aria_describedby = "nameHelp", placeholder = "Enter first name" })
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                                <em style="font-size:80%;">
                                    <p>Must contain between 2 and 100 characters</p>
                                </em>
                            </div>
                            <div class="col-md-6">
                                <label for="LastName">Last name</label>
                                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", type = "text", aria_describedby = "nameHelp", placeholder = "Enter last name" })
                                <span asp-validation-for="LastName" class="text-danger"></span>
                                <em style="font-size:80%;">
                                    <p>Must contain between 2 and 100 characters</p>
                                </em>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "email", aria_describedby = "emailHelp", placeholder = "Enter email" })
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="exampleInputPassword1">Password</label>
                                @Html.TextBoxFor(x => x.Password, new { @class = "form-control", type = "password", aria_describedby = "emailHelp", placeholder = "Password" })
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <em style="font-size:80%;">
                                    <p>Password must have a minimum of 8 characters,
                                    including a number, a capital letter and at least 2 unique characters</p>
                                </em>
                            </div>
                            <div class="col-md-6">
                                <label for="exampleConfirmPassword">Confirm password</label>
                                @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", type = "password", aria_describedby = "emailHelp", placeholder = "Confirm password" })
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <input class="btn btn-primary btn-block" type="submit" value="Register" />
                }
            </section>
            <div class="text-center">
                <a class="d-block small mt-3" href="@Url.Action("Login", "Account")">Login Page</a>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
